<launch>
  <param name="/use_sim_time" value="true"/>
  
  <!-- 地图 -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find my_robot)/maps/test.pgm 0.025" />
  
  <!-- 定位 -->
  <include file="$(find my_robot)/localizer/amcl_localizer.launch"/>  

  <!-- 导航 -->
  <include file="$(find my_robot)/navigation/move_base.launch"/>
  
  <!-- 模拟器 -->
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find my_robot)/worlds/test.world" respawn="false" >
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
  
  <!-- 可视化 -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navigation_stage)/single_robot.rviz" />
</launch>